<?xml version="1.0" encoding="utf-8"?>
<!--
##########################################################################
#  Copyright notice
#
#  (c) 2015 [d] Ligo design+development - All rights reserved
#  (Details on https://github.com/animaltool)
#
#  This script belongs to the TYPO3 Flow package "DLigo.Animaltool".
#  The DLigo Animaltool project is free software; you can redistribute
#  it and/or modify it under the terms of the GNU Lesser General Public
#  License (GPL) as published by the Free Software Foundation; either
#  version 3 of the License, or  (at your option) any later version.
#
#  The GNU General Public License can be found at
#  http://www.gnu.org/copyleft/gpl.html.
#
#  This script is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  This copyright notice MUST APPEAR in all copies of the script!
##########################################################################
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dligo.animaltool"
    android:versionCode="1"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="19" />
    
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<permission
          android:name="com.dligo.animaltool.permission.MAPS_RECEIVE"
          android:protectionLevel="signature"/>
	<uses-permission android:name="com.dligo.animaltool.permission.MAPS_RECEIVE"/>	
	
	<uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
	<uses-feature android:name="android.hardware.camera" >
    </uses-feature>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <receiver
            android:name="com.dligo.animaltool.NetworkChangeReceiver"
            android:label="NetworkChangeReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.dligo.animaltool.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dligo.animaltool.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="com.dligo.animaltool.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="com.dligo.animaltool.AddActivity"
            android:label="@string/title_activity_add"
            android:screenOrientation="landscape"
            android:parentActivityName="com.dligo.animaltool.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dligo.animaltool.MainActivity" />
        </activity>
        <activity
            android:name="com.dligo.animaltool.ReleaseActivity"
            android:label="@string/title_activity_release"
            android:screenOrientation="landscape"
            android:parentActivityName="com.dligo.animaltool.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dligo.animaltool.MainActivity" />
        </activity>
 		<meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="YOUR-GOOGLE-API-KEY" />
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
 	</application>
</manifest>
